# 5개의 데이터 프레임 'dong_code'를 기준으로 merge

In [2]:
import pandas as pd

# 1. 각 데이터셋 소환
- 치안, 반려동물, 소비, 여가, 자기관리

In [3]:
#치안
safety = pd.read_excel('C:/Users/김나영/Desktop/safety_code_final.xlsx')

In [4]:
safety

     dong_code  dong  drunk_value  light_value
0      1101053   사직동           42          527
1      1101054   삼청동           11          383
2      1101055   부암동            7          813
3      1101056   평창동           15         1364
4      1101057   무악동            6          153
..         ...   ...          ...          ...
419    1125074    길동          161          785
420    1117074    항동            0           44
421    1123068  개포1동            0          152
422    1124059   오륜동            0           10
423    1125070  둔촌1동            0           37

[424 rows x 4 columns]

In [5]:
#반려동물
pet = pd.read_excel('C:/Users/김나영/Desktop/pet_code_final.xlsx')
pet

     dong_code  dong  vet_value  park_value
0      1124069  문정2동          5           0
1      1101056   평창동          0           0
2      1114073  성산2동          3           1
3      1117074    항동          1           1
4      1122059  반포3동          0           0
..         ...   ...        ...         ...
420    1124066  가락1동          1           0
421    1123080  개포2동          1           0
422    1123068  개포1동          0           0
423    1125070  둔촌1동          0           0
424    1123051   신사동          4           0

[425 rows x 4 columns]

In [6]:
#소비
sobi = pd.read_excel('C:/Users/김나영/Desktop/sobi_code_final.xlsx', index_col=0)
sobi

           dong  cvs_value  cafe_value  restaurant_value
dong_code
1124069    문정2동         40         133               521
1101056     평창동         17          50                98
1114073    성산2동         29          39               169
1117074      항동          0           0                14
1122059    반포3동          8          30                96
...         ...        ...         ...               ...
1124066    가락1동          4           2               121
1123080    개포2동         10          21               109
1123068    개포1동          2           5                 9
1125070    둔촌1동          3           3                 0
1123051     신사동         37         182               803

[425 rows x 4 columns]

In [7]:
#여가
leisure = pd.read_excel('C:/Users/김나영/Desktop/happy_code_final.xlsx', index_col=0)
leisure

                  dong  coin_value  bike_value
dong_code
1101053            사직동           1          14
1101061    종로1·2·3·4가동           3          24
1101073            혜화동           6           9
1102055             명동           1          13
1102057             필동           3           2
...                ...         ...         ...
1125058           암사2동           0           2
1125059           암사3동           0           6
1125065           성내1동           0           6
1125070           둔촌1동           0           1
1125072           암사1동           0           1

[415 rows x 3 columns]

In [8]:
#자기관리
selfcare = pd.read_excel('C:/Users/김나영/Desktop/selfcare_code_final.xlsx', index_col=0)
selfcare

           dong  nail_value  derma_value  health_value
dong_code
1101053     사직동          10            1            16
1101056     평창동           3            1             5
1101057     무악동           1            0             0
1101058     교남동           3            0             2
1101060     가회동           1            0             1
...         ...         ...          ...           ...
1117074      항동           0            0             1
1118055    독산4동           0            0             2
1121066     서림동           0            0             5
1124053    거여1동           0            0             2
1125051     강일동           0            0             4

[420 rows x 4 columns]

In [9]:
#교통
traffic = pd.read_excel('C:/Users/김나영/Desktop/traffic_code_final.xlsx', index_col=0)
traffic

           dong  bus_value  subway_value
dong_code
1124069    문정2동         18             2
1101056     평창동         57             0
1114073    성산2동         41             4
1117074      항동         25             0
1122059    반포3동         14             0
...         ...        ...           ...
1124066    가락1동         10             7
1123080    개포2동         35            33
1123068    개포1동         16             0
1125070    둔촌1동          8             0
1123051     신사동         14             6

[425 rows x 3 columns]

# 2. merge로 모든 카테고리의 지표 병합
- how = outer로 조인
- on = dong 코드 일치한다는 조건
- fillna(0) -> N/A값 전부 0으로 전처리

In [10]:
result1 = pd.merge(safety, pet, how='outer', on='dong_code').fillna(0)
result1

     dong_code dong_x  drunk_value  light_value dong_y  vet_value  park_value
0      1101053    사직동         42.0        527.0    사직동          1           3
1      1101054    삼청동         11.0        383.0    삼청동          0           1
2      1101055    부암동          7.0        813.0    부암동          3           1
3      1101056    평창동         15.0       1364.0    평창동          0           0
4      1101057    무악동          6.0        153.0    무악동          0           0
..         ...    ...          ...          ...    ...        ...         ...
420    1117074     항동          0.0         44.0     항동          1           1
421    1123068   개포1동          0.0        152.0   개포1동          0           0
422    1124059    오륜동          0.0         10.0    오륜동          0           1
423    1125070   둔촌1동          0.0         37.0   둔촌1동          0           0
424    1124078      0          0.0          0.0   잠실7동          0           1

[425 rows x 7 columns]

In [11]:
result2 = pd.merge(result1, sobi, how='outer', on='dong_code').fillna(0)

In [12]:
result2

,dong_code,dong_x,drunk_value,light_value,dong_y,vet_value,park_value,dong,cvs_value,cafe_value,restaurant_value
0,1101053,사직동,42.0,527.0,사직동,1,3,사직동,21,120,740
1,1101054,삼청동,11.0,383.0,삼청동,0,1,삼청동,13,109,187
2,1101055,부암동,7.0,813.0,부암동,3,1,부암동,19,59,87
3,1101056,평창동,15.0,1364.0,평창동,0,0,평창동,17,50,98
4,1101057,무악동,6.0,153.0,무악동,0,0,무악동,5,8,32
...,...,...,...,...,...,...,...,...,...,...,...
420,1117074,항동,0.0,44.0,항동,1,1,항동,0,0,14
421,1123068,개포1동,0.0,152.0,개포1동,0,0,개포1동,2,5,9
422,1124059,오륜동,0.0,10.0,오륜동,0,1,오륜동,8,14,36
423,1125070,둔촌1동,0.0,37.0,둔촌1동,0,0,둔촌1동,3,3,0
424,1124078,0,0.0,0.0,잠실7동,0,1,잠실7동,3,3,7

In [13]:
result3 = pd.merge(result2, leisure, how='outer', on='dong_code').fillna(0)
result3

,dong_code,dong_x,drunk_value,light_value,dong_y,vet_value,park_value,dong_x,cvs_value,cafe_value,restaurant_value,dong_y,coin_value,bike_value
0,1101053,사직동,42.0,527.0,사직동,1,3,사직동,21,120,740,사직동,1.0,14.0
1,1101054,삼청동,11.0,383.0,삼청동,0,1,삼청동,13,109,187,삼청동,0.0,5.0
2,1101055,부암동,7.0,813.0,부암동,3,1,부암동,19,59,87,부암동,0.0,5.0
3,1101056,평창동,15.0,1364.0,평창동,0,0,평창동,17,50,98,평창동,0.0,4.0
4,1101057,무악동,6.0,153.0,무악동,0,0,무악동,5,8,32,무악동,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,1117074,항동,0.0,44.0,항동,1,1,항동,0,0,14,항동,0.0,12.0
421,1123068,개포1동,0.0,152.0,개포1동,0,0,개포1동,2,5,9,개포1동,0.0,2.0
422,1124059,오륜동,0.0,10.0,오륜동,0,1,오륜동,8,14,36,오륜동,0.0,11.0
423,1125070,둔촌1동,0.0,37.0,둔촌1동,0,0,둔촌1동,3,3,0,둔촌1동,0.0,1.0
424,1124078,0,0.0,0.0,잠실7동,0,1,잠실7동,3,3,7,잠실7동,0.0,3.0

In [15]:
result4 = pd.merge(result3, selfcare, how='outer', on='dong_code').fillna(0)
result4

,dong_code,dong_x,drunk_value,light_value,dong_y,vet_value,park_value,dong_x,cvs_value,cafe_value,restaurant_value,dong_y,coin_value,bike_value,dong,nail_value,derma_value,health_value
0,1101053,사직동,42.0,527.0,사직동,1,3,사직동,21,120,740,사직동,1.0,14.0,사직동,10.0,1.0,16.0
1,1101054,삼청동,11.0,383.0,삼청동,0,1,삼청동,13,109,187,삼청동,0.0,5.0,삼청동,0.0,0.0,2.0
2,1101055,부암동,7.0,813.0,부암동,3,1,부암동,19,59,87,부암동,0.0,5.0,부암동,0.0,0.0,1.0
3,1101056,평창동,15.0,1364.0,평창동,0,0,평창동,17,50,98,평창동,0.0,4.0,평창동,3.0,1.0,5.0
4,1101057,무악동,6.0,153.0,무악동,0,0,무악동,5,8,32,무악동,0.0,3.0,무악동,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,1117074,항동,0.0,44.0,항동,1,1,항동,0,0,14,항동,0.0,12.0,항동,0.0,0.0,1.0
421,1123068,개포1동,0.0,152.0,개포1동,0,0,개포1동,2,5,9,개포1동,0.0,2.0,개포1동,2.0,0.0,0.0
422,1124059,오륜동,0.0,10.0,오륜동,0,1,오륜동,8,14,36,오륜동,0.0,11.0,오륜동,1.0,1.0,3.0
423,1125070,둔촌1동,0.0,37.0,둔촌1동,0,0,둔촌1동,3,3,0,둔촌1동,0.0,1.0,0,0.0,0.0,0.0
424,1124078,0,0.0,0.0,잠실7동,0,1,잠실7동,3,3,7,잠실7동,0.0,3.0,잠실7동,1.0,0.0,1.0

In [16]:
result5 = pd.merge(result4, traffic, how='outer', on='dong_code').fillna(0)
result5

,dong_code,dong_x,drunk_value,light_value,dong_y,vet_value,park_value,dong_x,cvs_value,cafe_value,...,dong_y,coin_value,bike_value,dong_x,nail_value,derma_value,health_value,dong_y,bus_value,subway_value
0,1101053,사직동,42.0,527.0,사직동,1,3,사직동,21,120,...,사직동,1.0,14.0,사직동,10.0,1.0,16.0,사직동,33,6
1,1101054,삼청동,11.0,383.0,삼청동,0,1,삼청동,13,109,...,삼청동,0.0,5.0,삼청동,0.0,0.0,2.0,삼청동,16,0
2,1101055,부암동,7.0,813.0,부암동,3,1,부암동,19,59,...,부암동,0.0,5.0,부암동,0.0,0.0,1.0,부암동,34,0
3,1101056,평창동,15.0,1364.0,평창동,0,0,평창동,17,50,...,평창동,0.0,4.0,평창동,3.0,1.0,5.0,평창동,57,0
4,1101057,무악동,6.0,153.0,무악동,0,0,무악동,5,8,...,무악동,0.0,3.0,무악동,1.0,0.0,0.0,무악동,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,1117074,항동,0.0,44.0,항동,1,1,항동,0,0,...,항동,0.0,12.0,항동,0.0,0.0,1.0,항동,25,0
421,1123068,개포1동,0.0,152.0,개포1동,0,0,개포1동,2,5,...,개포1동,0.0,2.0,개포1동,2.0,0.0,0.0,개포1동,16,0
422,1124059,오륜동,0.0,10.0,오륜동,0,1,오륜동,8,14,...,오륜동,0.0,11.0,오륜동,1.0,1.0,3.0,오륜동,25,9
423,1125070,둔촌1동,0.0,37.0,둔촌1동,0,0,둔촌1동,3,3,...,둔촌1동,0.0,1.0,0,0.0,0.0,0.0,둔촌1동,8,0
424,1124078,0,0.0,0.0,잠실7동,0,1,잠실7동,3,3,...,잠실7동,0.0,3.0,잠실7동,1.0,0.0,1.0,잠실7동,4,25

In [1]:
# 변환된 float 한번에 int로 변환

'''
result5['drunk_value'] = result5['drunk_value'].astype(int)
result5['light_value'] = result5['light_value'].astype(int)
result5['park_value'] = result5['park_value'].astype(int)
result5['vet_value'] = result5['vet_value'].astype(int)
result5['restaurant_value'] = result5['restaurant_value'].astype(int)
result5['cafe_value'] = result5['cafe_value'].astype(int)
result5['cvs_value'] = result5['cvs_value'].astype(int)
result5['bicycle_value'] = result5['bicycle_value'].astype(int)
result5['coin_value'] = result5['coin_value'].astype(int)
result5['health_value'] = result5['health_value'].astype(int)
result5['derma_value'] = result5['derma_value'].astype(int)
result5['nail_value'] = result5['nail_value'].astype(int)
result5['nail_value'] = result5['nail_value'].astype(int)
'''

"\nresult5['drunk_value'] = result5['drunk_value'].astype(int)\nresult5['light_value'] = result5['light_value'].astype(int)\nresult5['park_value'] = result5['park_value'].astype(int)\nresult5['vet_value'] = result5['vet_value'].astype(int)\nresult5['restaurant_value'] = result5['restaurant_value'].astype(int)\nresult5['cafe_value'] = result5['cafe_value'].astype(int)\nresult5['cvs_value'] = result5['cvs_value'].astype(int)\nresult5['bicycle_value'] = result5['bicycle_value'].astype(int)\nresult5['coin_value'] = result5['coin_value'].astype(int)\nresult5['health_value'] = result5['health_value'].astype(int)\nresult5['derma_value'] = result5['derma_value'].astype(int)\nresult5['nail_value'] = result5['nail_value'].astype(int)\nresult5['nail_value'] = result5['nail_value'].astype(int)\n"

In [17]:
# 병합되었는지 확인
# 각 지표당 unique한 값들 점검하기 위해 tail로 불러옴
result4.tail(20)

,dong_code,dong_x,drunk_value,light_value,dong_y,vet_value,park_value,dong_x,cvs_value,cafe_value,restaurant_value,dong_y,coin_value,bike_value,dong,nail_value,derma_value,health_value
405,1125053,명일1동,40.0,245.0,명일1동,2,1,명일1동,17,48,226,명일1동,3.0,2.0,명일1동,15.0,3.0,9.0
406,1125054,명일2동,9.0,199.0,명일2동,1,0,명일2동,7,25,103,명일2동,3.0,8.0,명일2동,11.0,1.0,8.0
407,1125055,고덕1동,10.0,273.0,고덕1동,1,0,고덕1동,12,14,73,고덕1동,0.0,5.0,고덕1동,5.0,0.0,1.0
408,1125056,고덕2동,8.0,244.0,고덕2동,2,1,고덕2동,6,4,96,고덕2동,0.0,6.0,고덕2동,5.0,2.0,0.0
409,1125058,암사2동,11.0,177.0,암사2동,2,0,암사2동,10,17,97,암사2동,0.0,2.0,암사2동,8.0,1.0,5.0
410,1125059,암사3동,3.0,217.0,암사3동,2,0,암사3동,9,11,38,암사3동,0.0,6.0,암사3동,6.0,1.0,2.0
411,1125061,천호1동,33.0,614.0,천호1동,3,0,천호1동,16,20,163,천호1동,1.0,2.0,천호1동,10.0,0.0,5.0
412,1125063,천호3동,86.0,569.0,천호3동,0,0,천호3동,27,40,250,천호3동,2.0,5.0,천호3동,12.0,1.0,3.0
413,1125065,성내1동,31.0,519.0,성내1동,3,0,성내1동,12,51,229,성내1동,0.0,6.0,성내1동,3.0,0.0,10.0
414,1125066,성내2동,70.0,766.0,성내2동,0,0,성내2동,23,54,274,성내2동,1.0,5.0,성내2동,22.0,1.0,6.0
415,1125067,성내3동,61.0,576.0,성내3동,2,0,성내3동,26,47,366,성내3동,1.0,5.0,성내3동,11.0,3.0,17.0
416,1125071,둔촌2동,24.0,484.0,둔촌2동,2,2,둔촌2동,22,37,183,둔촌2동,1.0,5.0,둔촌2동,11.0,0.0,7.0
417,1125072,암사1동,39.0,705.0,암사1동,1,0,암사1동,30,32,238,암사1동,0.0,1.0,암사1동,13.0,1.0,6.0
418,1125073,천호2동,152.0,943.0,천호2동,1,1,천호2동,47,78,466,천호2동,4.0,4.0,천호2동,14.0,4.0,9.0
419,1125074,길동,161.0,785.0,길동,5,1,길동,49,63,510,길동,1.0,5.0,길동,20.0,2.0,14.0
420,1117074,항동,0.0,44.0,항동,1,1,항동,0,0,14,항동,0.0,12.0,항동,0.0,0.0,1.0
421,1123068,개포1동,0.0,152.0,개포1동,0,0,개포1동,2,5,9,개포1동,0.0,2.0,개포1동,2.0,0.0,0.0
422,1124059,오륜동,0.0,10.0,오륜동,0,1,오륜동,8,14,36,오륜동,0.0,11.0,오륜동,1.0,1.0,3.0
423,1125070,둔촌1동,0.0,37.0,둔촌1동,0,0,둔촌1동,3,3,0,둔촌1동,0.0,1.0,0,0.0,0.0,0.0
424,1124078,0,0.0,0.0,잠실7동,0,1,잠실7동,3,3,7,잠실7동,0.0,3.0,잠실7동,1.0,0.0,1.0

### 2-1. 일부 동 제외

# dong에서 서울이 아닌 동 제외 
not_seoul = result5['dong'].isin(['하안4동', '장암동', '문원동']) 
result4_trim = result4[~not_seoul] # ~를 포함하게 되면 데이터에서 제외

### 2-1. 동이 아닌 데이터들 제외

In [17]:
# 동을 포함하는 값이 True인 애들만 가져오기
result4_trim = result4_trim[result4_trim["dong"].str.contains("동") == True]

In [20]:
# 인덱스 재정렬해서 한번 확인해주기. 이때 기존 인덱스 칼럼은 없애줌
result4_trim = result4_trim.reset_index(drop=True)

In [21]:
# 확인!
result4_trim

,dong,drunk_value,light_value,park_value,vet_value,restaurant_value,cafe_value,cvs_value,bicycle_value,coin_value,health_value,derma_value,nail_value
0,가락1동,4,65,0,1,121,2,4,7,0,1,2,9
1,가락2동,2,407,0,4,171,29,14,5,3,7,3,13
2,가락본동,65,412,0,1,412,52,35,3,0,12,1,7
3,가리봉동,7,640,0,0,237,13,14,1,0,1,0,3
4,가산동,25,2,0,1,849,177,86,18,1,19,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,창1동,0,5,0,0,0,0,0,0,0,0,0,0
433,창5동,0,7,0,0,0,0,0,0,0,0,0,0
434,한강로동,0,756,0,0,0,0,0,0,0,0,0,0
435,항동,0,44,1,1,14,0,0,12,0,1,0,0
436,홍은동,0,1840,0,0,0,0,0,0,0,0,0,0

In [20]:
#출력
result5.to_excel('합본.xlsx')