# 카테고리 점수 스케일 맞추기   
1. mim-max 정규화를 통해 각 카테고리의 최소-최대값을 0~1로 맞추어준다.
2. x10을 해서 각 카테고리의 최소-최대값을 0~10으로 맞추어준다.

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('data/minmax_연습.xlsx', index_col = 0)
df = df.iloc[0:,16:]
df

,safety_score_minmax,selfcare_score_minmax,leisure_score_minmax,pet_score_minmax,traffic_score_minmax,consume_score_minmax
dong,,,,,,
인수동,1.299884,3.053632,2.097080,2.051378,2.135004,3.118749
수유1동,1.275198,3.066903,2.057532,2.026448,2.108495,3.096494
미아동,1.270488,3.117301,2.149759,2.026448,2.084562,3.157071
양재2동,1.261308,3.117762,2.182422,2.212404,2.171754,3.298457
양재1동,1.259193,3.208041,2.209431,2.192722,2.172726,3.294188
...,...,...,...,...,...,...
목1동,0.950568,3.385044,2.228999,2.097315,2.160365,3.290787
서초4동,0.948429,3.439033,2.176820,2.026448,2.221959,3.311236
화곡6동,0.944204,3.102658,2.093123,2.000000,2.076501,3.236669
이태원1동,0.936576,3.085037,2.056957,2.026448,2.053140,3.230221
여의동,0.904965,3.428611,2.309041,2.212404,2.304754,3.537863

In [5]:
df.describe()

,safety_score_minmax,selfcare_score_minmax,leisure_score_minmax,pet_score_minmax,traffic_score_minmax,consume_score_minmax
count,425.000000,425.000000,425.000000,425.000000,425.000000,425.000000
mean,1.086315,3.111315,2.101104,2.070926,2.094051,3.144015
std,0.058317,0.097165,0.060026,0.053970,0.056726,0.102984
min,0.904965,3.000000,2.000000,2.000000,2.000000,3.003400
25%,1.048164,3.047353,2.056957,2.026448,2.053349,3.074559
50%,1.082438,3.085037,2.090801,2.051378,2.083952,3.117491
75%,1.118267,3.140177,2.133299,2.100589,2.120653,3.186697
max,1.299884,3.543819,2.356990,2.256033,2.316114,3.537863

### Min-max 정규화   
(X - MIN) / (MAX-MIN) 라는 식으로 X값의 범위를 0~1로 맞추어 준다.

In [9]:
from sklearn.preprocessing import MinMaxScaler

mMscaler = MinMaxScaler()
normal = mMscaler.fit_transform(df) # transform부터가 0-1으로 바꾸는 것
normal = pd.DataFrame(normal, columns = df.columns)
df = normal*10 #최대값 10으로 맞추기

In [10]:
df

,safety_score_minmax,selfcare_score_minmax,leisure_score_minmax,pet_score_minmax,traffic_score_minmax,consume_score_minmax
0,10.000000,0.986208,2.719414,2.006685,4.270740,2.158217
1,9.374919,1.230239,1.611577,1.032999,3.432139,1.741827
2,9.255654,2.156990,4.195042,1.032999,2.675059,2.875234
3,9.023206,2.165460,5.110013,8.295994,5.433301,5.520625
4,8.969647,3.825563,5.866572,7.527258,5.464035,5.440755
...,...,...,...,...,...,...
420,1.154735,7.080364,6.414710,3.800891,5.073022,5.377114
421,1.100575,8.073147,4.953084,1.032999,7.021499,5.759718
422,0.993600,1.887730,2.608571,0.000000,2.420041,4.364544
423,0.800429,1.563694,1.595479,1.032999,1.681039,4.243899
424,0.000000,7.881496,8.656854,8.295994,9.640639,10.000000

In [8]:
df.describe()

,safety_score_minmax,selfcare_score_minmax,leisure_score_minmax,pet_score_minmax,traffic_score_minmax,consume_score_minmax
count,425.000000,425.000000,425.000000,425.000000,425.000000,425.000000
mean,4.592092,2.046914,2.832123,2.770176,2.975219,2.630963
std,1.476679,1.786707,1.681442,2.107921,1.794486,1.926866
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.626044,0.870745,1.595479,1.032999,1.687651,1.331418
50%,4.493900,1.563694,2.543524,2.006685,2.655745,2.134694
75%,5.401163,2.577633,3.733978,3.928752,3.816769,3.429547
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [7]:
df.to_excel(excel_writer='final_score.xlsx')